**/node_modules/
**/bin/
**/obj/
**/.angular/
**/dist/
**/.vs/
**/.vscode/

.idea/
.history/
*.user
*.suo
*.sln.docstates
.DS_Store
Thumbs.db

*.env
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json