bin/**
obj/**
[Bb]in/
[Oo]bj/
[Pp]ublish/
.vs/
.vscode/
*.csproj.user
*.user
*.suo
*.sln.docstates

# Configuration & Secrets
appsettings.json
appsettings.Development.json
appsettings.Production.json
.env

*.log